[{:nick "데릭안재석",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078211317&m=view",
  :title "김서현 논란 또떳네요"}
 {:nick "오재일",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078212583&m=view",
  :title "애널) 문동주는 야구밖에 모른다"}
 {:nick "늑대무린",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078194823&m=view",
  :title "추신수는 스캠 안하나요? 코빼기도 안보이네요..."}
 {:nick "똥칰",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078212277&m=view",
  :title "김서현 얘 진짜 미친거아님?"}
 {:nick "고토",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078214749&m=view",
  :title "“나에게 야구란 심장” 김성근 감독, 유퀴즈 출연"}
 {:nick "10오지배",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078197166&m=view",
  :title "인스타) 김서현에게 추가폭로 예고"}
 {:nick "꼴린이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078215706&m=view",
  :title "김서현 공중파에도 나왔네요"}
 {:nick "한화이글스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078208458&m=view",
  :title "문동주의 올바른 인성...."}
 {:nick "질병관리청",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078212808&m=view",
  :title "김서현 선수가 간과하고 있는것.real"}
 {:nick "옥중경영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078191913&m=view",
  :title "김서현은 하필 한화간게 큰 문제같아요"}
 {:nick "한화팬이다",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078193749&m=view",
  :title "야구선수들아 좀 배워라 좀"}
 {:nick "국대최원준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078217521&m=view",
  :title "김서현 임탈..?"}
 {:nick "한태양",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078197133&m=view",
  :title "애널좌 새로운 인스타 스토리"}
 {:nick "royal",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078201240&m=view",
  :title "sns 미담.jpg"}
 {:nick "리플루",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078193326&m=view",
  :title "김서현 솔직히 깨긴하네요"}
 {:nick "김아랑",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078207528&m=view",
  :title "이종범 \"요즘 젊은 선수들이 예절을 너무 모른다\""}
 {:nick "노영웅",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078195975&m=view",
  :title "김서현 징계 결정 됐네요"}
 {:nick "정우영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078211215&m=view",
  :title "사과 해야할 일인가 이게 .jpg"}
 {:nick "오지환국대",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078202968&m=view",
  :title "다른 거 다 떠나서 이게 제일 추하네요"}
 {:nick "베르키운",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078203157&m=view",
  :title "김서현 \"홈런 맞으면 기분이 어때요?\".jpg"}
 {:nick "갓보영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078209214&m=view",
  :title "[단독영상] 굳은 표정으로 한화 훈련장 떠나는 김서현"}
 {:nick "날자독수리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078192381&m=view",
  :title "채은성 파트너 노시환"}
 {:nick "왕조사좌",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078200865&m=view",
  :title "주장은 음주운전, 신인은 뒷담화.. 한화팬들은 비시즌에도  괴롭다.gisa"}
 {:nick "아이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078200031&m=view",
  :title "김서현 쎄한데요"}
 {:nick "찬재에몽",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078205614&m=view",
  :title "김서현 폭로자 추정"}
 {:nick "베레타",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078191577&m=view",
  :title "[부고]롯데팬 '깡다구야구'님이 소천하셨습니다."}
 {:nick "ramsa",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078195249&m=view",
  :title "ㅎㅎㅎ  이제는 타켓이  김서현인가요?"}
 {:nick "완단다",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078195810&m=view",
  :title "한화팬들은 온갖수모들어도"}
 {:nick "0708101822",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078196650&m=view",
  :title "추신수 기자회견할수도 있다네요"}
 {:nick "로프로",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078198378&m=view",
  :title "김서현은 결국 하주석 유창식의 길을 갑니다"}
 {:nick "베르키운",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078214257&m=view",
  :title "유퀴즈 김성근 특집 현상황.jpg"}
 {:nick "오늘도화나",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078192045&m=view",
  :title "이 워딩은 기분이 나빠야되나요...?"}
 {:nick "明洙",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078198492&m=view",
  :title "김서현 선수 때 나이때 한게러 분들은 정신적으로 성숙했나요?"}
 {:nick "노송과우석",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078212352&m=view",
  :title "김서현이 오케이라네요"}
 {:nick "승리의집관",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078194703&m=view",
  :title "아무리 어린선수라지만 좀그렇네요"}
 {:nick "화요41",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078194853&m=view",
  :title "문동주 인터뷰 기자분들 저 지금 그레인키 봐야되니까 귀찮게 말걸지 마세요.JPG"}
 {:nick "손성빈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078207912&m=view",
  :title "한현희 몸 근황.jpg"}
 {:nick "화나스퍼스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078196578&m=view",
  :title "꼴칰이 꼴칰하는 이유(feat.김서현)"}
 {:nick "47나성범V",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302090078218553&m=view",
  :title "희대의 문거김?"}
 {:nick "라치오",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078195885&m=view",
  :title "김서현 기사 제목 쎄네요"}
 {:nick "한화팬이다",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078192786&m=view",
  :title "윤영철 뽑지"}
 {:nick "광물캔광부",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078208638&m=view",
  :title "남지민은 이미 김서현한테 먹혔나봐요"}
 {:nick "삼은성제발",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078201120&m=view",
  :title "애널좌 김헌곤 썰.jpg"}
 {:nick "버러지인생",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078197646&m=view",
  :title "한화갤 김서현 여론"}
 {:nick "갓보영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078210381&m=view",
  :title "야구부장 : 작년 모 선수가 훈련을 두 번이나 지각을 해서 당일 경기 못뛰게 해버렸다"}
 {:nick "ss김성민",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078215973&m=view",
  :title "목지훈 선수 인스타.jpg"}
 {:nick "10오지배",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078215025&m=view",
  :title "인스타) 김서현 학폭? 추가폭로 ㄷㄷㄷ"}
 {:nick "삼진왕",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078198348&m=view",
  :title "등번호 관련 문동주 김서현 차이"}
 {:nick "데빌구",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078191883&m=view",
  :title "김서현 외모는 진짜 역대급이네요"}
 {:nick "사삼",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078196140&m=view",
  :title "김서현 징계가 약하다는데"}
 {:nick "베르키운",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078199668&m=view",
  :title "김서현 근신 1일차 중에서도 인스타 좋아요.jpg"}
 {:nick "김세빈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078200280&m=view",
  :title "김서현은 팬들이 머라하면"}
 {:nick "야전모",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078192867&m=view",
  :title "김서현 방출되면"}
 {:nick "북볶이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078214890&m=view",
  :title "감독님 아프지 마시고 오랫동안 행복하게 지내세요ㅠ"}
 {:nick "강매성",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078216441&m=view",
  :title "한화갤펌) 내일자 손혁단장 사진"}
 {:nick "치킨두마리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078210186&m=view",
  :title "야구부장 김서현 SNS 사건 정리"}
 {:nick "한재희",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078194502&m=view",
  :title "SNS 결례 논란' 한화 김서현, 훈련 3일간 제외 징계 확정"}
 {:nick "북볶이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078214710&m=view",
  :title "오늘 유퀴즈 김성근감독님편 레전드네요..."}
 {:nick "랜더스G",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078205029&m=view",
  :title "김서현 선수가 욕한 코치가"}
 {:nick "왕조사좌",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078202062&m=view",
  :title "김서현: 홈런 맞았을때 기분은 어때요?"}
 {:nick ">문동주",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078198663&m=view",
  :title "키움갤펌 애널리스트한테 사기 당함"}
 {:nick "qazr14dxv",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078195360&m=view",
  :title "김서현은 전형적인mz네요."}
 {:nick "FCLG트윈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302080078214449&m=view",
  :title "와 김성근 이 광고에 꼬마가 프로지명받았군요ㄷㄷ"}
 {:nick "삼라봉",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202302070078191814&m=view",
  :title "2월 9일 낮 1시 삼성 vs 니혼햄 연습경기 생중계 시청방법 공유합니다."}]
