[{:nick "치킨두마리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085550484&m=view",
  :title "롯데 유니폼 입은 전미르 GIF"}
 {:nick "samsungv9",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085560066&m=view",
  :title "2024 신인드래프트 삼성 지명선수 총평"}
 {:nick "김민규",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085559298&m=view",
  :title "24드래프트 스카우트 총평 .twt"}
 {:nick "강민",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085559577&m=view",
  :title "이번 키움지명에 대한 코멘트 빠르게 올려봅니다"}
 {:nick "D.Mitchell",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085549527&m=view",
  :title "7연속 코시에 떠나면서 두택연 선물까지.."}
 {:nick "치킨두마리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085553178&m=view",
  :title "정현수 박용택 GIF"}
 {:nick "유민",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085554777&m=view",
  :title "황영묵 코멘트.twt"}
 {:nick "예리한홍구",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085561203&m=view",
  :title "예상대로 황영묵은 패닉픽였군요..."}
 {:nick "LIXCAM",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085551585&m=view",
  :title "펌)지명 이후 황준서 표정ㅋㅋㅋㅋㅋ"}
 {:nick "DylanCarlson",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085544034&m=view",
  :title "야구부장 : 플럿코, 함덕주, 최원태 관련"}
 {:nick "날개단호랑",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085558080&m=view",
  :title "2024 KBO 드래프트 전체 결과"}
 {:nick "김재상",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085558668&m=view",
  :title "[오피셜] 정민성이 가고 싶어했던 팀"}
 {:nick "거유이재현",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085565898&m=view",
  :title "믿고 보는 이재현 수비 .gif"}
 {:nick "찰리파티노",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085550607&m=view",
  :title "황준서 김택연 표정차이에 대한 반응"}
 {:nick "TurnerDuo",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085544997&m=view",
  :title "배지헌 최종 Mock Draft"}
 {:nick "5.김도영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085556670&m=view",
  :title "뭐? 포수최대어가 우리팀에 온다고?"}
 {:nick "쓱지환",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085559586&m=view",
  :title "드래프트 만족한다고 자평하는 분위기.twt"}
 {:nick "치킨두마리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085558059&m=view",
  :title "2024 KBO 신인드래프트 최종 지명 결과"}
 {:nick "순수소년",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085557927&m=view",
  :title "2024 KBO 드래프트 지명자 명단"}
 {:nick "엔휘건",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202309140085551801&m=view",
  :title "김휘건 지명순간 스카우터팀 gif"}]
