[{:nick "원준이달려",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097264992&m=view",
  :title "Ssg팬분들 이거 큰일 난거 같은데.."}
 {:nick "우잉정",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097223820&m=view",
  :title "승패를 떠나 염경엽 야구가 혐오스러울 정도로 싫습니다"}
 {:nick "BK기아",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097256259&m=view",
  :title "조대현은 이미 망픽 취급이 돼버렸네요"}
 {:nick "maisondw",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230045&m=view",
  :title "박소영-문경찬, 열애 직접 공개 후 보름 만에 결혼 발표 [종합]"}
 {:nick "허미미",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097268865&m=view",
  :title "\"학폭 소문이 돌았던 선수 중에 2명은 지명 받지 못했다\" twt"}
 {:nick "스퍼스랩",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097219725&m=view",
  :title "베이스볼 코리아) 1라운드 예상 총정리(장문 주의)"}
 {:nick "김군850",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097254387&m=view",
  :title "이번 삼성 드래프트 관련 단상"}
 {:nick "준수한민수",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097256736&m=view",
  :title "기아 스카우터피셜 올해 드래프트 총평.txt"}
 {:nick "김현종",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097231452&m=view",
  :title "야구양조장 최종 모의지명.jpg"}
 {:nick "엘지현종이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097240452&m=view",
  :title "정현우 선수 누님분 ㄷㄷ"}
 {:nick "곰의행진",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097271067&m=view",
  :title "2025 신인드래프트 간단한 소개 및 평가"}
 {:nick "kbo빠따",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097245369&m=view",
  :title "전체 1픽결과 배지헌 twt."}
 {:nick "銑祐",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230141&m=view",
  :title "박용택이 김태현 혹평했네요 ㅠ"}
 {:nick "Yahowow",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097252509&m=view",
  :title "심재훈은 답답하겠네요"}
 {:nick "김현종",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097220562&m=view",
  :title "야구양조장 모의지명.jpg"}
 {:nick "MyEagle",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097235073&m=view",
  :title "갤펌 [KIA] 한화갤에게 욕먹는 곽도규.."}
 {:nick "maisondw",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097217718&m=view",
  :title "오늘의 각팀 매직 & 트래직"}
 {:nick "준수한민수",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097232691&m=view",
  :title "김태현 하루만에 갑자기 평가절하 ㅋㅋ"}
 {:nick "허미미",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097256811&m=view",
  :title "\"한화는 마킹키트를 가져와서 현장에 온 지명선수들 이름을 모두 새겼다.\" twt"}
 {:nick "21.돌부처",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097234767&m=view",
  :title "상당히 유력해진 로컬보이트리오"}
 {:nick "달동네산쵸",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097242825&m=view",
  :title "삼성라이온즈 지명하겠습니다.(with 갓종렬 말빨♡)"}
 {:nick "최형우",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097220544&m=view",
  :title "지명권 틀드 안하길 잘했네요ㅋㅋ"}
 {:nick "이스리안",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097253697&m=view",
  :title "베코 기아 총평 펌 수정"}
 {:nick "이재호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097217619&m=view",
  :title "고야갤 최종 모의지명.JPG"}
 {:nick "호미페",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097228005&m=view",
  :title "드래프트로 이런저런 말이 많지만"}
 {:nick "튜브911",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230177&m=view",
  :title "남들은 2라에 다 야수뽑는데, 고작 140던지는 무슨 좌완을 뽑는다고."}
 {:nick "허윤동",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097219992&m=view",
  :title "Mlbpark 최종회차 신인모의지명 후기(한화이글스)"}
 {:nick "머털투수",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097232925&m=view",
  :title "덕수고 김태형 운명을 받아들였네요"}
 {:nick "조셉챈들러",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097238439&m=view",
  :title "물들어올때 노젓는 기아 EV3(feat.김도영)"}
 {:nick "미스터인천",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230519&m=view",
  :title "[스압] 최정 492호 홈런 및 정준재 3안타 인천SSG랜더스필드 직관 후기.jpgif"}
 {:nick "Suerte",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097234512&m=view",
  :title "이예랑은 방송에서 김도영본인 인가요?"}
 {:nick "삼선삼성",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097269324&m=view",
  :title "실시간 한화 승리확률 .. jpg"}
 {:nick "최가든",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097272228&m=view",
  :title "2025 엔씨 1라운더 인사"}
 {:nick "세고비아",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230033&m=view",
  :title "박용택이 평가한 빅6.JPG"}
 {:nick "수염단",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097247661&m=view",
  :title "박정훈은 대체 수위가 어느정도길래"}
 {:nick "만수야달려",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409120097273758&m=view",
  :title "2025년 삼성 신인 드래프트 요약"}
 {:nick "Theta",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409120097274622&m=view",
  :title "야구부장)학폭 소문 선수, 구단 설명"}
 {:nick "파란우주77",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097231809&m=view",
  :title "이종열이의  희대의 뻘짓  넌 지금 제2의 류현진이랑 제2의 양현종을 놓치는 것이다"}
 {:nick "윤영철팬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097242330&m=view",
  :title "헐... 연고지선수 이렇게 놓치네 ㅠㅠ;;;"}
 {:nick "Wetherholt",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097272075&m=view",
  :title "관계자 : 지명 철회까지 고려하고 지명했다"}
 {:nick "함수호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097223022&m=view",
  :title "내일 또 한명의 삼린이가 삼성에 입단하겠군요"}
 {:nick "uu22",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409120097274199&m=view",
  :title "와중에 신인 sns 이슈가 벌써 ㅋㅋ"}
 {:nick "trumaa",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097220061&m=view",
  :title "베코피셜) 2라운드"}
 {:nick "푸른갈매기",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097218303&m=view",
  :title "오늘 염경엽 보고 상대팀팬인데도 웃겼던 이유"}
 {:nick "김페르난",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097249080&m=view",
  :title "ㅈ도 모르면서 스카우트팀한테 고나리 뭐임"}
 {:nick "아지알비스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097220127&m=view",
  :title "베코썰 기반 1라운드 올해 최고이변은"}
 {:nick "초로록",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097254150&m=view",
  :title "함수호 영상 봤는데 그냥 포기하세요"}
 {:nick "masterseo",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097269495&m=view",
  :title "오늘 송은범 표정.jpg"}
 {:nick "다시가자v2",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097231455&m=view",
  :title "이정도면 틀드대성공이죠"}
 {:nick "한화이팅스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097252287&m=view",
  :title "2025 KBO 신인 드래프트 최종결과.JPG"}
 {:nick "V3LG트윈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097238676&m=view",
  :title "오늘 지명받는 선수가 받게될 유니폼"}
 {:nick "성남사자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097260186&m=view",
  :title "구자욱 앞서 나가는 선취점 시즌 27호 투런포 ㅅㅅ .GIF"}
 {:nick "함수호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097233192&m=view",
  :title "오늘 김민수 스카우트 팀장 운세"}
 {:nick "임주경",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097218960&m=view",
  :title "베코 : 배찬승이 내려오지 않는다면 김태형 확률 높음"}
 {:nick "이글포수",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097229502&m=view",
  :title "진짜 진심으로 이팀"}
 {:nick "류현준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097257843&m=view",
  :title "두산 드래프트 선수들 고3기록 및 평가(장문)"}
 {:nick "내가왕이다",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097234680&m=view",
  :title "한화는 계속 9 10 10 10 9등해서 상위픽 다 가져갔는데도"}
 {:nick "샌프정후",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097253007&m=view",
  :title "정우주 선수 왜 우나요?"}
 {:nick "함수호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097248645&m=view",
  :title "현재까지 드래프트 승자"}
 {:nick "lg엘지v4",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097235823&m=view",
  :title "베코 1라운드 예상 jpg"}
 {:nick "박용택",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230255&m=view",
  :title "[LG] 최종 모의지명 후기, 1편입니다."}
 {:nick "풍류공자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097242420&m=view",
  :title "김태현선수 어머니 표정"}
 {:nick "상추",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097243086&m=view",
  :title "실시간 TV 보는 김태현 표정"}
 {:nick "잠실누나",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097254975&m=view",
  :title "유니폼받고 울어버린 .gif"}
 {:nick "꼬북유정",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097225863&m=view",
  :title "삼성은 김태현 못잡으면 천추의 한이 됩니다"}
 {:nick "kbo빠따",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097245369&m=view",
  :title "전체 1픽결과 배지현 twt."}
 {:nick "고구리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097230138&m=view",
  :title "프로의 벽이 엄청나네요"}
 {:nick "뚀스톤",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097229028&m=view",
  :title "덕아웃매거진 한준수편"}
 {:nick "레윈디아즈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097269366&m=view",
  :title "??? : 송은범을 왜 줍냐고?"}
 {:nick "카레라이스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097250736&m=view",
  :title "역대 최악의 드래프트네요"}
 {:nick "최영필",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097257012&m=view",
  :title "이호민 롤모델이랑 가고싶은 구단.jpg"}
 {:nick "성남사자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097263099&m=view",
  :title "구자욱 밀어서 4타점째 올리는 적시타 ㅅㅅ .MP4"}
 {:nick "거너핸더슨",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097264509&m=view",
  :title "학폭 썰이 있네요"}
 {:nick "김민석안타",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097273557&m=view",
  :title "김태현 롯데지명 기쁨의춤"}
 {:nick "문김황정",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409110097270380&m=view",
  :title "이번 드래프트 감상평(feat 닉넴 변경)"}
 {:nick "이재호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202409100097218906&m=view",
  :title "베코) 드래프트 이종열 단장이 주도중"}]
