[{:nick "BookerT",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107383638&m=view",
  :title "훈련거부한 안우진을 주차장까지 따라가 억지로 참여하게했다"}
 {:nick "잠실LG",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107389182&m=view",
  :title "박햄 미친 슈퍼점프캐치.mp4"}
 {:nick "ohmyLG",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107412507&m=view",
  :title "이런 수비는 그냥 묻힘~ㅋㅋ"}
 {:nick "정성훈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107384739&m=view",
  :title "디씨펌) 정찬헌은 내부고발자"}
 {:nick "소식보똬리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107382570&m=view",
  :title "#대체용병"}
 {:nick "오지환골글",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107411610&m=view",
  :title "이 선수도 우쭈쭈 좀 해줍시다"}
 {:nick "sotkfkdtngus",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107410893&m=view",
  :title "이대형)이 뽑은 숨은 MVP.JPG"}
 {:nick "김도오영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107384763&m=view",
  :title "디씨썰 : 정찬헌은 내부고발자"}
 {:nick "Riad",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107384643&m=view",
  :title "벌투코치 정체"}
 {:nick "국대병현",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107380506&m=view",
  :title "선수들 집합시켜서 내부자 색출함"}
 {:nick "acqqer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107384448&m=view",
  :title "안우진 사태 투수코치 누군지 나왔네요"}
 {:nick "닝굴닝굴",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107383743&m=view",
  :title "안우진 사건 새로운 얘기가 나오네요"}
 {:nick "최정홈런",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107382075&m=view",
  :title "안우진 투수코치가 시켰네요"}
 {:nick "한화로가자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107379975&m=view",
  :title "순페이피셜 : 야구앞에서 모두 겸손합시다"}
 {:nick "acqqer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107381451&m=view",
  :title "안우진 재활 1년......gisa"}
 {:nick "에런저지방",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107389137&m=view",
  :title "위즈덤이 한명 담궜네요"}
 {:nick "자유한국",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107380422&m=view",
  :title "잠실의 빅보이 근황.gif"}
 {:nick "큠하성",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107385546&m=view",
  :title "안우진 관련 홍원기 코멘트"}
 {:nick "fogbow",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107388615&m=view",
  :title "박해민의 박해민 수비!!!!!"}
 {:nick "꼴레발",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107394684&m=view",
  :title "문동주 161km/h .mp4"}]
