[{:nick "BookerT",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107383638&m=view",
  :title "훈련거부한 안우진을 주차장까지 따라가 억지로 참여하게했다"}
 {:nick "정성훈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107384739&m=view",
  :title "디씨펌) 정찬헌은 내부고발자"}
 {:nick "소식보똬리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107382570&m=view",
  :title "#대체용병"}
 {:nick "하퍼명전행",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107377218&m=view",
  :title "이영미기자) 안우진이 부상 위험때문에 정중하게 거절 but 코치 강행"}
 {:nick "피치크러쉬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107374389&m=view",
  :title "최홍라 치어리더 매력이 쩌나보네요.jpg"}
 {:nick "전민재13",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107377710&m=view",
  :title "윤성빈: 요즘 야구가 너무 즐겁다"}
 {:nick "느감김종국",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107373747&m=view",
  :title "해치 트윈스행"}
 {:nick "국대병현",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107380506&m=view",
  :title "선수들 집합시켜서 내부자 색출함"}
 {:nick "닝굴닝굴",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107383743&m=view",
  :title "안우진 사건 새로운 얘기가 나오네요"}
 {:nick "최정홈런",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107382075&m=view",
  :title "안우진 투수코치가 시켰네요"}
 {:nick "롯데김민준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107373963&m=view",
  :title "\"너 한화 간다며?\" 예비신랑의 말못할 고민 → 깊었던 마음고생…하지만 롯데가 그를 원했다 [인터뷰]"}
 {:nick "김현종",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107378475&m=view",
  :title "A관계자 : 발설 시 퇴단시킬것"}
 {:nick "자유한국",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107380422&m=view",
  :title "잠실의 빅보이 근황.gif"}
 {:nick "김치우동",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107376366&m=view",
  :title "한 MLB 기자의 안우진 부상에 대한 반응ㄷㄷ"}
 {:nick "acqqer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107373903&m=view",
  :title "손아섭 트레이드는 3팀이 제안.twt"}
 {:nick "개사료",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107374788&m=view",
  :title "[키움] 안우진 부상을 코치 잘못이라고 하는건 진짜 저능아 인증이네요"}
 {:nick "느감김종국",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107376822&m=view",
  :title "플렉센 완전방출"}
 {:nick "윤고나황",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107375205&m=view",
  :title "김태형 선수빨이라는 것도 다 헛소리였음"}
 {:nick "acqqer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107376093&m=view",
  :title "이영미 “안우진 다시 수술대 오른다->오를수 있다“"}
 {:nick "프나핑",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508050107377206&m=view",
  :title "엘지전 스윕 위닝 이벤트"}]
