[{:nick "just4look",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958671&m=view",
  :title "양현종 메이저 크보 비교 발언에 대한 개인적인 생각"}
 {:nick "무쇠로만든",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959262&m=view",
  :title "와 근데 박찬호 인터뷰는 좀 소름이돋네"}
 {:nick "백스탑",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959250&m=view",
  :title "윤석민은 욕하면 안되겠네요."}
 {:nick "점보슈림프",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099960327&m=view",
  :title "최채흥 \"예상치 못해 놀랐고 얼떨떨…내게 부끄럽지 않도록 노력 중, 기대해달라\" 당차게 밝힌 각오"}
 {:nick "일희일비요",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958737&m=view",
  :title "양현종이나 이대호 같은 선수들이 메이저 정교함 떨어진다고 생각하는게 정상임"}
 {:nick "데프트",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958758&m=view",
  :title "1루수 골글 투표 결과 실화냐ㅋㅋㅋㅋ"}
 {:nick "GKangel",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958974&m=view",
  :title "WAR은 공신력 있는 지표가 아니에요"}
 {:nick "엘지장현식",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099962538&m=view",
  :title "골든 글러브 수상자로 짜본 라인업... .jpg"}
 {:nick "호냥이다옹",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958923&m=view",
  :title "다음 시즌 라인업 상상"}
 {:nick "4.전새얀",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958605&m=view",
  :title "삼성 키움 5:4 빅 트레이드 ..."}
 {:nick "무쇠로만든",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959370&m=view",
  :title "본인입으로 우승프리미엄을 직접 꺼낸순간 비난도 감수해야지"}
 {:nick "lg엘지v4",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099962070&m=view",
  :title "오스틴 \"내 다음 목표? 다리 부러질 때까지 뛰고 LG서 커리어 마무리 하는 것\""}
 {:nick "나마스떼",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958269&m=view",
  :title "고마운 류현진"}
 {:nick "큰타이거",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099958803&m=view",
  :title "곽도규 나혼산 예고편"}
 {:nick "점보슈림프",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099960696&m=view",
  :title "최채흥이 뭔 구속이 130초중반이란 말은 왜나오지.."}
 {:nick "우우이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959433&m=view",
  :title "7관왕 당시 골글 투표결과"}
 {:nick "4.전새얀",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959016&m=view",
  :title "폰세 와 손혁 단장"}
 {:nick "LG愛빠지다",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959667&m=view",
  :title "이번 골글 최대논쟁은"}
 {:nick "여우가면",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099959796&m=view",
  :title "1년반동안 욕하다가 사라지니 갑자기 고평가 ㅋㅋㅋ"}
 {:nick "점보슈림프",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412140099962445&m=view",
  :title "최채흥 근황"}]
