[{:nick "김띵신",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098023581&m=view",
  :title "LG 허슬두의 DNA라.."}
 {:nick "엘라테스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098025192&m=view",
  :title "잠실구장이 원정 팬들한테 엄청 좋은 구장은 맞죠"}
 {:nick "Hammer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098021889&m=view",
  :title "김주일 단장의 놀라운 사실.jpg"}
 {:nick "이민호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098025624&m=view",
  :title "전 솔직히 엘지쪽으로 좀 기울었다고 생각하는데"}
 {:nick "언제가을야구하노",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098026035&m=view",
  :title "우규민이 삼성에서 FA 돈 값을 못한 이유"}
 {:nick "켈리를위해",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098026800&m=view",
  :title "임찬규는 정말 휘문고 대선배 따라가려나 보네요"}
 {:nick "나이스방어",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098027022&m=view",
  :title "서울 삼성팬들은 이런 이유로 LG올라오기를 바라는 사람 있지 않나요?"}
 {:nick "켈리를위해",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098026641&m=view",
  :title "야구장 가는 걸 엔터테인먼트로 생각하는 젊은 팬들에게는 응원이 중요하죠"}
 {:nick "댄디",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098024616&m=view",
  :title "기아가 명문팀은 아니지 않나요"}
 {:nick "멸치액젓",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098024211&m=view",
  :title "고령팬이 많은게 창피하고 개선해야될 일인가요"}
 {:nick "혁명전야",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098024523&m=view",
  :title "은퇴 결심을 하던 선수가 이제는 트윈스의 리더가 됐네요"}
 {:nick "엘지후니훈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098025249&m=view",
  :title "엘지 응원 문제 있긴 있습니다"}
 {:nick "이주형53",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098027514&m=view",
  :title "인스타에서 잠실 3루로 엘지팬 간다고 뭐라 하네요"}
 {:nick "장태주",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098024586&m=view",
  :title "김원형 감독 짤릴만 했죠"}
 {:nick "트윈스라오",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098023881&m=view",
  :title "Lg팬 고령팬들이 많다?"}
 {:nick "라티미스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098023890&m=view",
  :title "우리 정말 불리하네요"}
 {:nick "문트라웃",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410070098026917&m=view",
  :title "kt선수들 확실히 지쳐 보이던데.."}
 {:nick "이빵빈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098022129&m=view",
  :title "오늘 신민재가 날라다닌 이유 ... jpg"}
 {:nick "WowView",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098022576&m=view",
  :title "PO 직행한 삼성 \"상대 중요한 것 아냐\""}
 {:nick "문보경35",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202410060098022630&m=view",
  :title "신민재 딸들도 이제 야구장 다니네요"}]
