[{:nick "giants332",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107787024&m=view",
  :title "기자도 좆보근 뚜드러패는구만ㅋㅋㅋㅋ"}
 {:nick "이지강",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107783916&m=view",
  :title "이강철 \"톨허스트, 내가본 투수 중 역대급으로 커맨드가 좋다\""}
 {:nick "김진수",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107784435&m=view",
  :title "톨허스트 \" kbo 공인구 그립감이 너무 좋았다. 구속 더 오를것\""}
 {:nick "c.sawyer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107784765&m=view",
  :title "문현빈 부상이면 추승우 잘라야죠"}
 {:nick "감자야감자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782656&m=view",
  :title "끝내기 영상 다시보니"}
 {:nick "산지기1",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107783505&m=view",
  :title "한화 무개념 주차"}
 {:nick "알데바란",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107786448&m=view",
  :title "손아섭은 정말 잘 데리고 왔어요."}
 {:nick "박지효",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107786610&m=view",
  :title "펨코펌) 2025년 롯데의 타격은 왜 기복이 심할까?"}
 {:nick "야구펜슬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782224&m=view",
  :title "[그라운드 한컷] 8월 14일 경기 야구카툰"}
 {:nick "bonz9",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782020&m=view",
  :title "문현빈 손가락 99%부상"}
 {:nick "불꽃no9",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782821&m=view",
  :title "김경문이 운이 좋긴 한듯"}
 {:nick "영보스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782461&m=view",
  :title "조인성 근황"}
 {:nick "쓰베로야",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107786616&m=view",
  :title "정보근한테 먹인 플레이타임이 젤 아까움"}
 {:nick "맘누크",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107785185&m=view",
  :title "LG가 점점 유리해지네요"}
 {:nick "MarcusEvan",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782140&m=view",
  :title "감독이 지나치게 경기 개입만 안해도 편히 보겠구만"}
 {:nick "아일릿",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107782809&m=view",
  :title "멸망전 지리네요"}
 {:nick "함수호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107784900&m=view",
  :title "\"역대급 최고 금액 나올 수 있다\" 괴물 폰세 향한 MLB 관심 뜨겁다 [IS 이슈]"}
 {:nick "잭렉스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107787090&m=view",
  :title "폰세 유일한 약점 찾음.jpg"}
 {:nick "이지강",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107784429&m=view",
  :title "기아 \"내친김에 3위까지 보인다\""}
 {:nick "L_O_T_T_E",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508150107783097&m=view",
  :title "타석에서 상대팀에게 아무런 위압감이 없는 용병타자가 레이예스죠."}]
