[{:nick "젠지비디디",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046049888&m=view",
  :title "야구부장 장준영 주심 욕설 논란 캡쳐.jpg"}
 {:nick "엘지우승v3",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046030715&m=view",
  :title "신인왕이 그렇게 배아픈가"}
 {:nick "Wainwright",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046031618&m=view",
  :title "로하스의 독주를 막는 3인방.jpg"}
 {:nick "빛뱅이론",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046035032&m=view",
  :title "근데 가만 참 보면 명칭에 과몰입하는 분들도 참 많은거 같아요"}
 {:nick "해파리냉채",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046031876&m=view",
  :title "러셀 생각보다 못하네요.."}
 {:nick "타격왕찬호",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046034825&m=view",
  :title "디씨보니까 충격이네요"}
 {:nick "크보조",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046057238&m=view",
  :title "성민규 단장은 한답니다."}
 {:nick "날쌘나지완",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046052111&m=view",
  :title "타격왕사건은 어느게 더큰문제인가요."}
 {:nick "남천동살제",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046039268&m=view",
  :title "박용택 선수에 관한 이해가 필요한 시점입니다."}
 {:nick "손세이셔널",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046038764&m=view",
  :title "이정후 홈송구때 박뱅의 페이크.gif"}
 {:nick "골든대형",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046036655&m=view",
  :title "은퇴투어는 결국 내가 그 선수의 팬이었냐가 중요한거죠."}
 {:nick "Drake's",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046053017&m=view",
  :title "선 넘는 분들 진짜 많네요. 한 마디만 할게요."}
 {:nick "BlueWarning",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046049363&m=view",
  :title "8월 첫째주 삼성 2군 경기 정리"}
 {:nick "김태형감독",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046038635&m=view",
  :title "와 원래 올스타투표가 인기투표였나요??ㄷㄷㄷ"}
 {:nick "김재규장군",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046040885&m=view",
  :title "박용택 타격왕 사건"}
 {:nick "변우혁",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046029803&m=view",
  :title "박용택 타격왕 사건은 조작이 맞는것 같은데요?"}
 {:nick "히딩크",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046036832&m=view",
  :title "잠이 안 와서 박용택 선수 은퇴투어관련 몇 줄 적어봅니다."}
 {:nick "리오넬메시",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046032809&m=view",
  :title "김태균이 은퇴투어한다면 타팀팬들 반응이 어떨까요?"}
 {:nick "내남사드",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046041263&m=view",
  :title "사직에 박용택 은퇴투어 오면 욕 한번 박고 축하하고 싶습니다."}
 {:nick "언제나엘지",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046037255&m=view",
  :title "(기사)논란의 박용택 은퇴투어, 성사시 이승엽보다 이호준 형태[SS이슈]"}
 {:nick "출루율",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046043525&m=view",
  :title "전아직도 반대하는사람들 논리가 이해가 안됨"}
 {:nick "박석민",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008110046060898&m=view",
  :title "한국인 메이저리거 중 유일하게 WAR 1위를 기록해본 선수.gif"}
 {:nick "Soroka",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046059317&m=view",
  :title "박용택 선수 은퇴투어 관련 단상"}
 {:nick "휴가좀",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046044272&m=view",
  :title "박용택 사건당시 고의볼넷은 지금으로 치면 승부조작과도 궤를 같이한다고 보네요."}
 {:nick "Goldmund",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046036721&m=view",
  :title "무제"}
 {:nick "뿔난냥냥이",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008110046061021&m=view",
  :title "안타깝네요"}
 {:nick "최창원",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046058156&m=view",
  :title "은퇴투어를 떠나 박용택이란 선수에 대한 일부 태도가 아쉽네요"}
 {:nick "애쉬서폿",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046041014&m=view",
  :title "저는 그냥 엘지라서 다들 이렇게 반대한다고 생각 합니다"}
 {:nick "LetsTwins",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046050026&m=view",
  :title "용택선수 투어는 이미 불발 확정이므로 .. 앞으로"}
 {:nick "lg역전승판독기",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046057817&m=view",
  :title "뒷북 트윗) 윤세호 기자님도 답답하신가 봅니다"}
 {:nick "박어다드",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046045907&m=view",
  :title "박용택도 짠하네요..."}
 {:nick "이민호",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046032935&m=view",
  :title "박용택 KBO 레전드 맞습니다"}
 {:nick "손세이셔널",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046055807&m=view",
  :title "이게 스트라이크라고?? 에라이.gif"}
 {:nick "조이엘로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046030922&m=view",
  :title "자욱이도 조문 다녀왔데요"}
 {:nick "LG유망주",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046049369&m=view",
  :title "앞으로 은퇴투어 갚아줘야지요"}
 {:nick "류현진NO.99",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046036310&m=view",
  :title "2009년  홍성흔  고의사구 의심  영상을 보고 왔는데"}
 {:nick "사직동술집",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046037504&m=view",
  :title "kbo) 솔까 이호준식 은퇴투어도 반대하는 사람 잇나요.??"}
 {:nick "효사비",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046031474&m=view",
  :title "2009년 홍성흔 박용택 타격왕논란 영상"}
 {:nick "에초티",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046036499&m=view",
  :title "은퇴투어. 세상이 진짜 팍팍해지네요 불편러들도 많고"}
 {:nick "나를마리요",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046056515&m=view",
  :title "주간야구 신인왕 예상"}
 {:nick "정민철.23",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046042430&m=view",
  :title "엘지팬덤 두터운건 알겠는데 그만좀 해요 ㅋㅋㅋ"}
 {:nick "강민",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046030187&m=view",
  :title "지명권 예상 야수 명단(1차)"}
 {:nick "후대디",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008110046060373&m=view",
  :title "정말 씁쓸하고 속이 상합니다."}
 {:nick "고척스카이돔",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046034873&m=view",
  :title "승호의 K7.gif"}
 {:nick "대타자문호",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046052543&m=view",
  :title "팀 롯데 자이언츠 8월 수비 수준.gif"}
 {:nick "doors",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008110046060307&m=view",
  :title "이승엽 선수 399홈런에서..... 이런 일이 있었군요."}
 {:nick "고양이키움",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046038512&m=view",
  :title "로하스 메이저행 축하투어면 반대없죠?"}
 {:nick "불광동신나",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046039811&m=view",
  :title "이걸로 논란 끝! LG팬들 입장바꿔 생각해보자!"}
 {:nick "kikomo",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046044542&m=view",
  :title "박용택이 은퇴투어를 못하는건 성적 때문이 아닙니다."}
 {:nick "반오십",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046056539&m=view",
  :title "키움 이거 진짠가요???"}
 {:nick "노히트노런",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046040519&m=view",
  :title "신한 쏠앱 올스타 투표현황.jpg"}
 {:nick "다크케이",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046043390&m=view",
  :title "올스타 (조상우 선수좀 찍어주세요)"}
 {:nick "안테토쿰보",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046033727&m=view",
  :title "최형우만 해도 박용택 위급 아닌가요?"}
 {:nick "변우혁",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046046474&m=view",
  :title "박용택 아직도 오해하시는분들 많은데..."}
 {:nick "엘지좋아",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046057334&m=view",
  :title "아놔 진짜"}
 {:nick "DB이상범",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046048541&m=view",
  :title "이제 당분간 은퇴투어는 없습니다.."}
 {:nick "정근우",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046035536&m=view",
  :title "대구 경북 지역 코로나 방역 관계자들 무료티켓 증정"}
 {:nick "maxhun",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046051604&m=view",
  :title "끝까지 선수협은 한마디도 없군요"}
 {:nick "번역의탄생",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046035881&m=view",
  :title "대호는 지금 웃는중이다.jpg"}
 {:nick "삼성최강25",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046034393&m=view",
  :title "은퇴투어 다 이분이 잘못햇네요.JPG"}
 {:nick "서울쌍둥이9094",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046058003&m=view",
  :title "신원철 기자 인스타"}
 {:nick "음햐햐",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046029671&m=view",
  :title "와.. 박용택 선수 기사 이건 진짜 도를 넘는거같네요"}
 {:nick "삼성최강25",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046055018&m=view",
  :title "김상수 인스타"}
 {:nick "빛둥",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046042304&m=view",
  :title "롯데의 볼넷 허용 갯수 변화, 그리고 노병오 투수코치와 스트레일리의 공헌도."}
 {:nick "KIII",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046046696&m=view",
  :title "나눔올스타 이 두개는 좀.."}
 {:nick "케프카",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046039859&m=view",
  :title "박용택 은퇴투어, 반대 69% 찬성 29%"}
 {:nick "서울쌍둥이9094",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046058285&m=view",
  :title "신원철 기자 인스타 2"}
 {:nick "카멕스",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008090046029140&m=view",
  :title "디씨 키움갤 현피사건...jpg"}
 {:nick "서울맨민뱅",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046038302&m=view",
  :title "트레이드 성사 될까요?"}
 {:nick "좋았던기억",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046051772&m=view",
  :title "로하스 대신에 민병헌이 올스타라니"}
 {:nick "엘지좋아",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202008100046040696&m=view",
  :title "보고 있자니 정말..."}]
