[{:nick "전의산",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087920901&m=view",
  :title "지방구단 우승당시 단장도 후보 .twt"}
 {:nick "갓보영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087921045&m=view",
  :title "지방 A 단장 : 최근 영입이 유력했던 외인 투수와 협상이 최종 결렬, 협상만 실컷 하고 마지막에 또 놓쳤다"}
 {:nick "엘지좋아",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087921231&m=view",
  :title "김성우 인스타스토리"}
 {:nick "lg엘지v4",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087924039&m=view",
  :title "LG가 감춰놓은 비밀병기, 대만에서 빛나며 2024 1군 무대 예약[SS라이징스타]"}
 {:nick "고우도리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087929613&m=view",
  :title "김하성측) 협박범은 후배에 현역X, 일방적 폭행 아냐 실랑 정도...."}
 {:nick "고우도리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087929088&m=view",
  :title "속보) 이시간 젤 빡친 선수"}
 {:nick "쿨엔조이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087927633&m=view",
  :title "[단독] 김하성, '공갈 협박' 혐의로 동료 선수 고소..술자리 다툼이 원인"}
 {:nick "불곰",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087929865&m=view",
  :title "유명야구선수K씨 강남한복판 술집에서 후배폭행..방역수칙 위반 논란"}
 {:nick "고우도리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087922302&m=view",
  :title "큠갤펌) 서건창 근황"}
 {:nick "대전독수리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087921261&m=view",
  :title "팬서비스에 진심인 한화 선수들.mp4"}
 {:nick "무면허",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087928122&m=view",
  :title "김하성 천적 TOP 15... .jpg"}
 {:nick "잠실죽돌이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087922812&m=view",
  :title "차명석 단장이 보는 박해민"}
 {:nick "뇽뇨롱뇽",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087925992&m=view",
  :title "내가 손아섭을 응원하지 않는 이유"}
 {:nick "크보크",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087930246&m=view",
  :title "김하성 방역수칙 어긴거 맞는거임?"}
 {:nick "엔휘건",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087923160&m=view",
  :title "엔갤 용타 썰 jpg"}
 {:nick "노르망디",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087923106&m=view",
  :title "김한나 근황"}
 {:nick "좌타대두",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312070087932754&m=view",
  :title "이게 벌써 한달전"}
 {:nick "꼴린이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087922092&m=view",
  :title "점심때 뜬 용타 썰"}
 {:nick "예리한홍구",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087923208&m=view",
  :title "유로결 같은 선수가 많겠죠. 하지만 가까이서 지켜본 바로는 아쉽네요."}
 {:nick "LeeDaeHo10",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312060087928068&m=view",
  :title "방출당한 그선수 떠오르긴 하네요"}]
