[{:nick "삼성최강25",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047783456&m=view",
  :title "9라운드 김현준 지명 반응.gif"}
 {:nick "황해",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047784041&m=view",
  :title "솔직히 롯팬들도 좀 뻔뻔한건 사실이죠.."}
 {:nick "클롭",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047779625&m=view",
  :title "한화입장에선 나승엽선수  어짜피 설득할거면 1차로 뽑아가지, 2차 2라로 데려간건 좀 아쉬울수 있는거 아닌가요?"}
 {:nick "안G현",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047780207&m=view",
  :title "ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ타임ㅋㅋㅋㅋㅋㅋㅋ"}
 {:nick "KANGBAEKHO",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047779907&m=view",
  :title "최우인 선수 대학"}
 {:nick "안G현",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047778287&m=view",
  :title "8라 최우인 헐"}
 {:nick "빛뱅이론",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047784755&m=view",
  :title "2021 롯데 신인지명 선수들에 대한 간단리뷰 + 후기.GIF"}
 {:nick "최승용",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047794424&m=view",
  :title "2021 신인드래프트 두산 지명 선수들 간략 정리 + 개인적 후기"}
 {:nick "2020Twins",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047779034&m=view",
  :title "오늘 드래프트 세줄 요약.txt"}
 {:nick "119고우석",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047784299&m=view",
  :title "나승엽건은 한게답게 정리해야죠"}
 {:nick "클롭",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047785055&m=view",
  :title "진짜 나승엽 사태 핀트 못잡네요 손성빈 지명이 문제에요."}
 {:nick "하니하니",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047782529&m=view",
  :title "펨코에 나승엽관련글인데 어떻게 생각하시나요"}
 {:nick "MyEagle",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047782865&m=view",
  :title "나승엽 도박수가 비난받을 일은 아니죠 근데 ..."}
 {:nick "삼성이영빈",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047783633&m=view",
  :title "꼬우면 나승엽 1라 뽑으라는 말은 어이가 없네요"}
 {:nick "조병현",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009220047795702&m=view",
  :title "카톡방 민감한 부분들 필터링 후 올리는 정리본"}
 {:nick "스트레잇",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047779961&m=view",
  :title "김진욱 인스타.jpg"}
 {:nick "문별☆",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047788415&m=view",
  :title "속보)나승엽 성민규단장 팔로우함"}
 {:nick "오원석",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047787929&m=view",
  :title "나승엽 관련 간단정리"}
 {:nick "트윈스심장",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047780912&m=view",
  :title "\"나승엽 뽑지 맙시다\" 했던 롯데, 2R에서 지명…거인 유니폼 입힐까"}
 {:nick "클롭",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202009210047777183&m=view",
  :title "결국 롯데는 나승엽 언플로 다른팀 못뽑게 하고 본인들이 뽑아가네요. 한화팬분들은 속상하겠어요."}]
