[{:nick "23'LG",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374018&m=view",
  :title "나성범 vs 구자욱 vs 박건우"}
 {:nick "샘숭",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117375509&m=view",
  :title "보스는 작년에 360이닝 던진게 걸리긴 하네요…"}
 {:nick "팥소금팥",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117376574&m=view",
  :title "일단 커브로 삼진잡는 고우석"}
 {:nick "8전준우8",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607200117373274&m=view",
  :title "페덱이 산 음식.jpg"}
 {:nick "닉콜렉터",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117375119&m=view",
  :title "팀분위기 박살났을까봐 그게 걱정."}
 {:nick "rlacodnjs",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374270&m=view",
  :title "후라도 VS 오스틴 보스"}
 {:nick "페니힐",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374717&m=view",
  :title "차단장!! 접촉합시다. 브라이언 켈러"}
 {:nick "18원태인",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374618&m=view",
  :title "보스는 페디가 한국오기전 커리어 느낌이랑 비슷한데.."}
 {:nick "몰라도돼12",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117377108&m=view",
  :title "김호령 영입하자는 분들에게 질문있어요"}
 {:nick "무적엘지v",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374540&m=view",
  :title "최근 엘지와 염경엽 감독에 대한 감상(장문주의)"}
 {:nick "창렬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374258&m=view",
  :title "역대 크보 원탑 떨공 ㄷㄷ"}
 {:nick "kashmir",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607200117373577&m=view",
  :title "세베리노는 좀 더 지켜봅시다"}
 {:nick "김승연나가",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607200117373679&m=view",
  :title "노시환 3루수 에러 1위 달성"}
 {:nick "Vino",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607200117373718&m=view",
  :title "사실 김도영 햄스트링 관리는 3루에서는 불가능"}
 {:nick "석과불식",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117375371&m=view",
  :title "박동원이고 구자욱이고 미련버리고, 나균안다년계약이나 해라.."}
 {:nick "Hammer",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374480&m=view",
  :title "치리노스 6주 진단 못받은게 제일 코미디죠"}
 {:nick "Stalwart",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117374276&m=view",
  :title "차단장님~ 만약 이선수만 데려온다면 지금까지 일처리 미흡했던거 다 용서받을 수 있습니다."}
 {:nick "Greenbee",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117375803&m=view",
  :title "일단 구자욱 6년 200억 제시해보고 안오면"}
 {:nick "zzzzkkk",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607200117373550&m=view",
  :title "짐머맨 전담포수는 장규현이 했으면 합니다"}
 {:nick "99V1직관자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607210117375050&m=view",
  :title "김경문 감독!! 하주석에게 왜이러나!!"}]
