[{:nick "또저러네",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111147459&m=view",
  :title "이종열의 패착 \"최종 패를 너무 일찍 깠음\""}
 {:nick "롯데카리나",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111141273&m=view",
  :title "김재환 부산행"}
 {:nick "호미페",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111134580&m=view",
  :title "“김재환 철저히 계산된 행보”"}
 {:nick "성자의언덕",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111155415&m=view",
  :title "충격이네요! 김현수가 이미 KT와 계약했음에도 25일날 발표한 이유!"}
 {:nick "수성유원지",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111142413&m=view",
  :title "[단독] 최형우, 9년 만에 삼성 복귀…3년 30억원"}
 {:nick "김현종",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111134241&m=view",
  :title "김재환 보류명단 제외"}
 {:nick "ZacHLogue",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111137124&m=view",
  :title "[단독] 두산, 이영하 결국 지켜냈다, 잔류 계약 ‘임박’…계약 규모 ‘4년 50억원 선’"}
 {:nick "안타쳐줘요",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111151557&m=view",
  :title "김재환 너무하긴하네 ㅋㅋㅋ"}
 {:nick "하비트윈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111132957&m=view",
  :title "김현수한테 자꾸 뭐가 고맙다는건지.."}
 {:nick "소식보똬리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111149217&m=view",
  :title "#최형우"}
 {:nick "나태수트",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111152112&m=view",
  :title "팬 입장에선 그냥 심정적으로 빡칠수 밖에 없는 상황인데"}
 {:nick "배영수",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111145587&m=view",
  :title "단독 기사낸 기자"}
 {:nick "2021_1202",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111142257&m=view",
  :title "[단독] ‘화려한 귀환’ 최형우, 9년 만에 삼성 복귀 보인다…3년 30억원 규모"}
 {:nick "고라니니니",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111151899&m=view",
  :title "두산 홈페이지 근황 ㄷㄷ"}
 {:nick "나스타호령",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111141468&m=view",
  :title "최형우 멋있네요"}
 {:nick "MacBroom",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111154176&m=view",
  :title "비지니스 충들 많네"}
 {:nick "V갸도영V",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111145269&m=view",
  :title "사모님 피셜"}
 {:nick "박혜인",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111133482&m=view",
  :title "삼갤에 올라온 최형우 와이프 2시간전 인스타 스토리라는데..."}
 {:nick "IABSTUDIO",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111151221&m=view",
  :title "영원한 34번’ 최형우 “KIA에서 끝내고 싶다”"}
 {:nick "보가츠",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202511260111134052&m=view",
  :title "실시간 라팍 전광판"}]
