[{:nick "mlbnpbkbo",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099305769&m=view",
  :title "박동원, \"일본 못 가 죄송…내 책임 크다\""}
 {:nick "단디해라좀",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411170099289647&m=view",
  :title "실시간으로 젤 큰일났습니다"}
 {:nick "박소영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099307527&m=view",
  :title "오늘 밤 안치홍 숙소 상황…갤펌"}
 {:nick "1번이주형",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411190099314118&m=view",
  :title "최원태는 이제 사실상 FA 미아상태라고 봐야됨."}
 {:nick "진루타27",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099291879&m=view",
  :title "결국 허구연의 10구단 창단.. 스포테인먼트 전략이 한국야구를 망쳤다."}
 {:nick "함수호",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099294381&m=view",
  :title "[삼성, 여기는 오키나와] ② 1라운드 지명 신인 투수 배찬승, \"야구 훈련하기 딱 좋은 환경\""}
 {:nick "매일요일",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099296115&m=view",
  :title "최원태 썰이 저희 팀이라면"}
 {:nick "국대최원준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099296358&m=view",
  :title "현행 샐러리캡은 지방 연고팀에 상당히 불리한 제도입니다."}
 {:nick "카보베르데",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411170099289443&m=view",
  :title ".(오피셜) 한국야구 국제대회 또한번의 조별딱 확정"}
 {:nick "이지강",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099293166&m=view",
  :title "눈물 참으며 25년 인연 LG 떠났다, 이제 SSG 마운드 재건 특명이다"}
 {:nick "웃참마속",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099293532&m=view",
  :title "오늘 보상 지명 나올듯"}
 {:nick "김띵신",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099308067&m=view",
  :title "머한이는 터진다"}
 {:nick "순수소년",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099301581&m=view",
  :title "훈련 중 '충격 통보'…'유니폼 모델' 외야수는 눈물을 감추지 못했다 [미야자키 현장]"}
 {:nick "이사과",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099291219&m=view",
  :title "슬슬 시동 걸었네요"}
 {:nick "정노",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099292374&m=view",
  :title "투수 부상으로 못뽑아도 대만전 고영표는 놀라웠음"}
 {:nick "허미미",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099298290&m=view",
  :title "\"내야 자원이 급한 KT 팀 사정을 알고 있어서 내야 위주로 묶었다. 이강철 감독은 시즌때 장진혁의 플레이에 매력을 느꼈다는 후문\""}
 {:nick "현우진",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099303225&m=view",
  :title "김서현 공 무브먼트.gif"}
 {:nick "굉이손톱",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099303321&m=view",
  :title "ㅋㅋㅋ 황준서 트레이드 ㅋㅋ"}
 {:nick "눈뜨면월",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099311772&m=view",
  :title "정세영)노경은 보도자료까지 다나왔는데 선수가 싸인을 안한다"}
 {:nick "베나토",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099291018&m=view",
  :title "이제 현실을 직시해야 함"}
 {:nick "Wetherholt",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099304866&m=view",
  :title "이용균 : kt가 포수가 필요하지 싶어 그 쪽을 좀 풀었다고 한다"}
 {:nick "서태웅",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099303570&m=view",
  :title "김도영 프리미어12 최종 성적 (수정)"}
 {:nick "삼은성제발",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099306267&m=view",
  :title "현시점 크보 호감도 1위.jpg"}
 {:nick "후니훈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099308034&m=view",
  :title "사사방썰) 스카우터 팀장 변경"}
 {:nick "눈뜨면월",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099305208&m=view",
  :title "류중일)타선은 김도영이 다했다"}
 {:nick "mlbnpbkbo",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099296811&m=view",
  :title "류중일 : 이겨야 할 팀에 져버리니까 못 올라가는 거다"}
 {:nick "문트라웃",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099292386&m=view",
  :title "최원태는 자기복을 본인이 걷어찬거죠"}
 {:nick "니얼굴지헌",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099303507&m=view",
  :title "김도영 뒤에..."}
 {:nick "lt윤동희",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099295764&m=view",
  :title "이영미피셜) 최원태관심없다고 언급되온팀중오퍼했고 빠른시간안에 발표예상"}
 {:nick "하이포이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099303945&m=view",
  :title "곽빈 김도영 딴청......손절 중"}
 {:nick "강민호우승",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099308358&m=view",
  :title "강식당2 합니다"}
 {:nick "국대오시후",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099307887&m=view",
  :title "김서현의 구종을 알수없는공 + 일본반응"}
 {:nick "Drake's",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099310299&m=view",
  :title "최원태가 왜 이 지경까지 왔는지는 진짜 자팀에서 써보면 바로 앎"}
 {:nick "Fenomeno",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099309657&m=view",
  :title "최원태 관련 10개구단의 입장"}
 {:nick "여동건",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099295653&m=view",
  :title "2026 예비 FA 명단 ..jpg"}
 {:nick "한민코인",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099307764&m=view",
  :title "개인적으로 장진혁 푼게 문제라고 생각하는 이유"}
 {:nick "함께차한잔",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099294885&m=view",
  :title "엘지가 보호선수를 잘 묶은 것 맞죠?"}
 {:nick "국대오시후",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099292596&m=view",
  :title "한국 최전성기 국대 4번타자 김태균 타격"}
 {:nick "이제훈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099291807&m=view",
  :title "26번째가 누가 될지? LG선수들 줄 세워보기(46명)"}
 {:nick "Fenomeno",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099306672&m=view",
  :title "최원태 소식"}
 {:nick "jkmm",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099305091&m=view",
  :title "김도영 \"이 악물고 준비할 계기\""}
 {:nick "정보공개단",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099301758&m=view",
  :title "인스타 여론은 진짜 가관이네요 ㅋㅋㅋㅋㅋㅋ"}
 {:nick "니가가라ps",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099290517&m=view",
  :title "진짜 쪽팔림을 넘어 한심할 정도임"}
 {:nick "EagleOr",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099310530&m=view",
  :title "진짜 sns 분위기는 거의 박살이군요."}
 {:nick "묘오기이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099307380&m=view",
  :title "장진혁 현장평가는 기가 막힌가 봅니다"}
 {:nick "neverland",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099306702&m=view",
  :title "야구도 끝났는데 김도영 인생짤이나 봅시다~"}
 {:nick "하하이글스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099305727&m=view",
  :title "갤펌)갤러리 예언자"}
 {:nick "JORDAN23",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099302283&m=view",
  :title "김도영 달아나는 투런 GIF"}
 {:nick "lt윤동희",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411170099290451&m=view",
  :title "다음wbc때 윤동희 나승엽 김도영 문보경 박성한뽑히겠죠?"}
 {:nick "3500",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099300375&m=view",
  :title "2:2 트레이드 한 느낌이네요."}
 {:nick "불곰",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099301356&m=view",
  :title "삼성왕조 선동열빨이라는 소리를 왜 기아팬이 하는건지"}
 {:nick "jkmm",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099311070&m=view",
  :title "오늘 김도영이 홈런 친 호주 투수"}
 {:nick "진격의위즈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099302973&m=view",
  :title "기아 고마운 점"}
 {:nick "25handh",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099291537&m=view",
  :title "윤동희 저평가는 이해할 수 없네요"}
 {:nick "한상백",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099307287&m=view",
  :title "[KT] 이강철 KT 감독도 시즌 중 장진혁을 트레이드로 원했던 만큼 장진혁에게 충분한 기회가 주어질 것으로 기대된다."}
 {:nick "한건희",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099293019&m=view",
  :title "이용찬 18일 협상, 또 다른 팀 급부상"}
 {:nick "엘지스팀조",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099294495&m=view",
  :title "손주영 선수 진짜 어휴 정말 ..."}
 {:nick "엘비비",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099292185&m=view",
  :title "박동원 프리미어12 성적.jpg"}
 {:nick "허미미",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099311817&m=view",
  :title "정세영 : 최원태 측에서 원하는 금액은 엄상백보다 높은데 \"이 돈으로 잡는게 맞냐?\" 라는 합리적 의심이 들어간다"}
 {:nick "김현종",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099298086&m=view",
  :title "보상선수 장진혁"}
 {:nick "너의뒤에서",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099300363&m=view",
  :title "김도영 체험"}
 {:nick "정보공개단",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099312282&m=view",
  :title "장진혁 보낸걸로 징징대는게 이해가 안되네"}
 {:nick "19번째남자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411170099290064&m=view",
  :title "각팀 국제대회 통할만한 선발투수"}
 {:nick "고독한황태",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099293106&m=view",
  :title "FA 최원태 관련 KT 아닙니다"}
 {:nick "춘풍도화산",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411170099290109&m=view",
  :title "[오피셜] 한국 탈락. 대만(3승 1패) 11-3 호주(1승 3패) 경기종료."}
 {:nick "월커슨",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099293607&m=view",
  :title "요즘 롯데가 이정도로 힘드나요..?"}
 {:nick "정민규",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099298809&m=view",
  :title "걍 이게 님들이 집단지성으로 묶은 25인임 ㅋㅋㅋ"}
 {:nick "암요암요",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099308868&m=view",
  :title "최원태 제시한 구단 기아일듯"}
 {:nick "춘풍도화산",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099292245&m=view",
  :title "‘유종의 미’가 필요한 호주전, 한국 선발은 고영표 낙점![프리미어12]"}
 {:nick "샌프정후",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202411180099292023&m=view",
  :title "이번 프리미어 선발 투수도 아쉽긴 한데 포수도 아쉬운듯"}]
