[{:nick "야구펜슬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107929590&m=view",
  :title "[그라운드 한컷] 주간 팀별 성적 야구카툰 (8월 12~17일)"}
 {:nick "탈모하주석",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508190107930400&m=view",
  :title "김경문:팬 압박에 내부에서 부담을 느낌"}
 {:nick "세네",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508190107931330&m=view",
  :title "저는 2017년입니다!! 2025년의 팀 근황 좀요"}
 {:nick "김때때",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508190107930868&m=view",
  :title "엘지가 확실히 복에 겨웠구나"}
 {:nick "아퀼루스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107927013&m=view",
  :title "와 내일 엘지전 선발 ㅋㅋ"}
 {:nick "석민갓",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107927340&m=view",
  :title "김주원 현재 타격이 더 대단하다고 느끼는게.jpg"}
 {:nick "여동건",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107924598&m=view",
  :title "스압) 'It's 도파민 타임!' 주말 3연전 두파민 모음 ..gif"}
 {:nick "또저러네",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107926098&m=view",
  :title "김영웅 사직에서의 눈물 1년 후"}
 {:nick "애슬레틱스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107929152&m=view",
  :title "KBO 의문의 투수전 1황"}
 {:nick "heypeace",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107930325&m=view",
  :title "솔직히 엘지한텐 고맙습니다..근데"}
 {:nick "엘V4",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107928078&m=view",
  :title "첫경험..gif"}
 {:nick "원희양",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107925642&m=view",
  :title "김태형이 황금알을 낳는 거위의 배를 가르고 얻게 된 결과"}
 {:nick "깜지곰",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107929785&m=view",
  :title "지금 sbs동상이몽에 인교진 소이현 부부 ㅋㅋ"}
 {:nick "대투수짱구",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107927544&m=view",
  :title "기아의 폭망은 시즌전 김태군이 입털때 예견됐음.."}
 {:nick "탑키스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107924997&m=view",
  :title "홍창기:잠실돔에서 경기뛰고싶고 엘지에서 은퇴하고싶다"}
 {:nick "동건재석",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107924685&m=view",
  :title "엘지 팬분이 좋은글 적어주셔서 저도 얘기하자면"}
 {:nick "yhjwin",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107924526&m=view",
  :title "김서현만 털리는게 아니네..."}
 {:nick "치홍바라",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107927598&m=view",
  :title "또 기도메타하는 김경문 사단들"}
 {:nick "탑키스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107924832&m=view",
  :title "홍창기:천성호랑 친하지않다"}
 {:nick "투수진",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202508180107926869&m=view",
  :title "송성문 6년 계약 의미 없어졌네요"}]
