[{:nick "maisondw",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117780072&m=view",
  :title "현재까지 각 팀 취소경기 수"}
 {:nick "지나간마음",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117787038&m=view",
  :title "웰스 부상 경과"}
 {:nick "영원한",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117796212&m=view",
  :title "날씨 시원한데 민폐오지네요"}
 {:nick "전재준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117796185&m=view",
  :title "경기 취소 해야할듯..gif"}
 {:nick "쓱건우",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117796740&m=view",
  :title "경기종료 후 응급환자 추가 발생..."}
 {:nick "워커뷸러",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117796518&m=view",
  :title "야구장에서 쓰러지신게 차라리 천운이신듯"}
 {:nick "꼴레발",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117782310&m=view",
  :title "김한결 정식선수 기념 진기명기.mp4"}
 {:nick "1선발로운",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117781698&m=view",
  :title "곽빈 메이저 10개팀이 관심"}
 {:nick "팥소금팥",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117780474&m=view",
  :title "ㅍㅋ펌) 오늘 잠실 폭취한 이유"}
 {:nick "원형정원",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117782664&m=view",
  :title "두산과 LG의 결정적 차이 (feat.팬컬러)"}
 {:nick "최정",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117796245&m=view",
  :title "지금이라도 폭취 규정은 재고해야봐야함"}
 {:nick "김보미",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117792219&m=view",
  :title "탱구 솔직히 지렸다.!!!"}
 {:nick "팩트에근접",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117780840&m=view",
  :title "고깃집 방문 LG선수들"}
 {:nick "당산트윈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117796563&m=view",
  :title "후반기 3승 13패 ㅋㅋㅋㅋ"}
 {:nick "이마나가",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117786660&m=view",
  :title "스톡킹 근황 ㅋㅋ"}
 {:nick "일희일비팬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117781014&m=view",
  :title "잠실취소인데 문학은 왜 취소안함"}
 {:nick "0Do0Do",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117779139&m=view",
  :title "이러다가 나올 한국시리즈 풍경.jpg"}
 {:nick "최정",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117795738&m=view",
  :title "끝까지 두산만 생각하신분......"}
 {:nick "커트실링",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117785967&m=view",
  :title "웰스 안녕"}
 {:nick "토마스모어",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202608040117797025&m=view",
  :title "내일은 전체 경기 취소될수도 있겠네요"}]
