[{:nick "구마적",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088264515&m=view",
  :title "엘지 fa영입 고트 이분맞죠??"}
 {:nick "정철원",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088261875&m=view",
  :title "함덕주 4년 38억  twt"}
 {:nick "이지강",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088264221&m=view",
  :title "함덕주 계약 이유.jpg"}
 {:nick "just4look",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088265421&m=view",
  :title "저는 김현수와 차명석 두 명이 엘지를 바꾼 사람들이라고 봅니다"}
 {:nick "최승용64",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088260522&m=view",
  :title "‘KIA→두산’ 트레이드 복덩이로 불렸는데…왜 FA 협상 더뎌지나 “레벨 맞게 최선 다할 것”"}
 {:nick "라팍야구장",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088266015&m=view",
  :title "‘부상 치료 중’ KIA 김도영, 스프링캠프 간다…개막전은 불투명 [SS 시선집중]"}
 {:nick "최양락",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088263978&m=view",
  :title "김태균 근황.jpg"}
 {:nick "당산트윈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088263222&m=view",
  :title "함덕주 보장액 20억인거네요"}
 {:nick "황수르",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088260288&m=view",
  :title "이승엽 VS 이대호 일본성적..jpg"}
 {:nick "ohmyLG",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088263570&m=view",
  :title "47.7%"}
 {:nick "이중대신병",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088260048&m=view",
  :title "야구 룰중에 이해 안가는 것"}
 {:nick "LG이종준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088261872&m=view",
  :title "함덕주 4년 38억 twt"}
 {:nick "코드화이트",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088262214&m=view",
  :title "함덕주가 진짜 LG에 남고싶었나봄"}
 {:nick "살구달구",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088260204&m=view",
  :title "선데이 유니폼 장착한 시볼드"}
 {:nick "라팍야구장",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088262370&m=view",
  :title "차단장 함덕주 옵션 코멘트.twt"}
 {:nick "rokymi",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088264248&m=view",
  :title "함덕주: 강팀에서 뛰고 싶다는 생각에 결정.jpg"}
 {:nick "문동주선발",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088260933&m=view",
  :title "박용택 말 보니 이규섭 생각나네요"}
 {:nick "라팍야구장",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088262130&m=view",
  :title "차단장의 임찬규 계약 비결.jpg"}
 {:nick "kybkk",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088260906&m=view",
  :title "그런데 진짜 이재현 빠진 유격 누구 쓰려나."}
 {:nick "삼잴리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202312240088263681&m=view",
  :title "2024 KBO FA 선수 계약 현황 (엑셀 정리, 12.24 11시 기준)"}]
