[{:nick "정동진갓데",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099805425&m=view",
  :title "최원태 보상선수 발표일"}
 {:nick "롯데정훈",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099802128&m=view",
  :title "김도영 ⬌ 2026, 2027 드래프트 전라운드 양도"}
 {:nick "김성우",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099803211&m=view",
  :title "삼성 유망주 2명 소개"}
 {:nick "두동준",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099805374&m=view",
  :title "두산이 김강률 계약에 매우 소극적이었던 이유는 에이징 커브가 이미 시작된 인저리 프론이기 때문이죠."}
 {:nick "제발!V3",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099803418&m=view",
  :title "외국인 400만불"}
 {:nick "허미미",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099800655&m=view",
  :title "호부지는 선발투수 이용찬을 원한다…2018년 15승 투수, 공룡들도 계약 제시했다, 해피엔딩 가능할까"}
 {:nick "파란색한화",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099802506&m=view",
  :title "한화가 김강민 데려가서 전혀 재미못봤는데"}
 {:nick "김영우lg",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099806280&m=view",
  :title "삼성은 악수를 두네요ㅋㅋ"}
 {:nick "김택연™",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099801036&m=view",
  :title "하트가 진짜 4800만불 받고 복귀하면 내년엔.."}
 {:nick "스칼렛위치",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099801132&m=view",
  :title "박찬호 제구 레전드.gif"}
 {:nick "삼지윤",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099809910&m=view",
  :title "이종열 단장님 지금 미국이시라네요?;;"}
 {:nick "유강남pass",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099801774&m=view",
  :title "Good Bye Wilkerson"}
 {:nick "눈동자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099806988&m=view",
  :title "LG 트윈스 유니폼 입은 포수 이병헌"}
 {:nick "다크트루퍼",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099804510&m=view",
  :title "여쭤보는데 오승환 20인에 안 묶으면 레전드한테 무례한겁니까?"}
 {:nick "데리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099802497&m=view",
  :title "김강률은 평자로 보면 안되는 투수입니다."}
 {:nick "'68염종석",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099800628&m=view",
  :title "2025년 투망주를 키워보자 (4) - 홍민기"}
 {:nick "수호신",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099805737&m=view",
  :title "삼성, \"오승환 안 푼다 좀 조용히 해라\""}
 {:nick "23황제",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099806709&m=view",
  :title "최원태 버리고 이병헌 또는 김성윤은 너무 개꿀이네요"}
 {:nick "잉데이잉",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099807081&m=view",
  :title "아무리 봐도 이게 20인 명단 맞습니다"}
 {:nick "조동찬",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202412080099800148&m=view",
  :title "이용찬 삼성이 잡으면 nc는 피눈물 흘리겠어요"}]
