[{:nick "쿠밍",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052076033&m=view",
  :title "에휴 유망주 한명한명이 중요한 구단인데 ."}
 {:nick "갓베로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052092593&m=view",
  :title "인스타 추가글 .jpg"}
 {:nick "돌체라떼",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052082756&m=view",
  :title "졸업앨범이 어쩌고 저쩌고 하며 의심스럽다는데"}
 {:nick "하하이글스",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052080308&m=view",
  :title "야구도 '학폭', 소속 구단 \"선수는 부인, 사실 정확히 확인하겠다\""}
 {:nick "한화힘내자",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052077383&m=view",
  :title "학폭, 범죄자, 음주운전 다 방출합시다."}
 {:nick "rtx2070",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052085135&m=view",
  :title "양현종 인스타.jpg"}
 {:nick "본헤드",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052077410&m=view",
  :title "불페너의 류현진-배지현 목격썰.jpg"}
 {:nick "두재석",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052097180&m=view",
  :title "폭로자분께서 한화 구단한테 무어라 하신 적이 없죠"}
 {:nick "거포신스타",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052083932&m=view",
  :title "\"모르는 분이다\" '학폭논란' 한화 선수, 구단 통해 혐의 부인"}
 {:nick "단골우대",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052081184&m=view",
  :title "안우진은 천운을 타고났네요"}
 {:nick "하퍼34",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102190052074479&m=view",
  :title "한화 유장혁 학폭 폭로"}
 {:nick "적당히",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052080053&m=view",
  :title "퇴출은 오바다????"}
 {:nick "단장",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052093394&m=view",
  :title "60점만점에 19점 받은 양준혁 jpg"}
 {:nick "정대만",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052089431&m=view",
  :title "경축 한게 어그로 영구 차단 2021V3LG (구 : iloveseoul )"}
 {:nick "키르9371",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052095626&m=view",
  :title "‘학폭 폭로’ 피해자, 극단 선택 암시…."}
 {:nick "최그나으",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052079525&m=view",
  :title "학폭이라는게 애매하네요"}
 {:nick "Yahowow",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052091039&m=view",
  :title "새로 터진건 크네요.."}
 {:nick "미나토자키",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052083344&m=view",
  :title "쉴드 치는거 역겨워서 진짜 토나오네요"}
 {:nick "LG Twins.",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052098203&m=view",
  :title "야탑고 사건 이거 사실인가요?"}
 {:nick "민주민주해",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052090271&m=view",
  :title "이번 운영자 ㄹㅇ 역대급이신듯"}
 {:nick "우하항헹",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052096775&m=view",
  :title "학폭 피의자 감싸주기 그만두시죠."}
 {:nick "-여비-",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052093127&m=view",
  :title "체벌에 대한 신해철의 명언"}
 {:nick "아르르",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052079735&m=view",
  :title "추가내용 또 올라왔군요"}
 {:nick "iwh0119",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052078211&m=view",
  :title "사실이라해도 퇴출은 안됩니다."}
 {:nick "돌체라떼",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052091378&m=view",
  :title "선린인고 야구부 폭력사건 피해자 어머니가 당시 쓴 글"}
 {:nick "한화정은원",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052076084&m=view",
  :title "한화는 폭력이라는 단어와 거리가 먼 구단이라고 생각했는데"}
 {:nick "두산공화국",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052091744&m=view",
  :title "디씨썰 일단 구라같은데요"}
 {:nick "자유령",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052094810&m=view",
  :title "학폭 한발 뒤 물러나서 봐야 합니다."}
 {:nick "김기태",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102190052075529&m=view",
  :title "유장혁 코어 유망주 아닌가요?"}
 {:nick "용병감찾기",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052080461&m=view",
  :title "소속 구단 \"선수는 부인, 사실관계 정확히 확인하겠다\""}
 {:nick "FreeTempo",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052097630&m=view",
  :title "SSG 일렉트로스 용병 외인투수 윌머 폰트 심층분석 - 160km/h에 제구도 되는 초대형 투수, 한국 상륙!"}
 {:nick "김태군",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052084112&m=view",
  :title "학폭으로 1차지명 철회까지 한팀이있는데"}
 {:nick "스트롱베리",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102190052071470&m=view",
  :title "ㅋㅋ 경찬이 개그캐였어"}
 {:nick "캡슐커피",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052077614&m=view",
  :title "한화가 10년 더 꼴찌해도 좋아요. 징계합시다."}
 {:nick "배유빈",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102190052075340&m=view",
  :title "초등학교 시절 학교폭력이라도.. 피해자는 평생 상처가 가더라구요.."}
 {:nick "갓베로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052079255&m=view",
  :title "\"한화 유장혁, 학폭 가해자\"… 구단 \"사실 확인 중\""}
 {:nick "라이온즈팬",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052085333&m=view",
  :title "전광판 양현종 응원 멋있네요."}
 {:nick "하하이글스",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052096382&m=view",
  :title "피해자 분이 언급한 글 내용중"}
 {:nick "불패No15",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052082189&m=view",
  :title "한화팬이라 조심스러운데 공감능력이란게 이상하게 적용되는 것 같습니다."}
 {:nick "블루스택",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052098104&m=view",
  :title "설마 저 대학교 전설의 박용택인가요?"}
 {:nick "호르닝언",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052088342&m=view",
  :title "학폭 처분하는 건 좋은데 최소한의 기준은 있어야죠."}
 {:nick "w.로즈그린",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052081205&m=view",
  :title "쭉 지켜보는데 드디어 \"초등학교\"가 나왔습니다."}
 {:nick "김기태",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052088915&m=view",
  :title "선린고 나온선수"}
 {:nick "킹갓트윈스",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052095101&m=view",
  :title "LG트윈스 팬들이 꼭 기억하고 있어야하는 선수"}
 {:nick "키움천하",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052076306&m=view",
  :title "운동부 학폭도 아니고 일반 학폭이면 더악질 아닌가요??"}
 {:nick "최선생",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052085519&m=view",
  :title "유장혁 선수 학폭이 사실이라면 죄질면에서 최악이죠"}
 {:nick "구릿빛",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102190052075652&m=view",
  :title "학폭범들 다 날려서 안우진 다시 압박받으면 좋겠네요"}
 {:nick "강북호돌이",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052080935&m=view",
  :title "이대호에게 뺨맞은 여학생"}
 {:nick "굿윌헌팅",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052096844&m=view",
  :title "솔직히 말해서 한화 구단으로선 할 수 있는게 현재로선 없지 않나요??"}
 {:nick "이민호통산200승",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052077080&m=view",
  :title "학폭 전부다 깐다면 크보는 주전 절반이상 나가리죠."}
 {:nick "오원석",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052075724&m=view",
  :title "베이스볼 코리아 10호 커버.jpg"}
 {:nick "갓베로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052085552&m=view",
  :title "'롯데 에이스 스트레일리' 세로직캠 .avi"}
 {:nick "놀사",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052077311&m=view",
  :title "유장혁 학폭이 사실이라면 여러분이 맞다고 생각하는 처벌수위는?"}
 {:nick "나바로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052078550&m=view",
  :title "양창섭 인스타 스토리.gif (투구)"}
 {:nick "하하이글스",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052089578&m=view",
  :title "피해자 새로운 글 올라왔어요"}
 {:nick "갓베로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052090109&m=view",
  :title "한화 이어 A구단 선수도 '학폭 의혹'... \"방망이로 때렸다\""}
 {:nick "Yahowow",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052084256&m=view",
  :title "일단 구단대응은 무죄로 움직인다는군요"}
 {:nick "15대성불패",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102210052100123&m=view",
  :title "진짜 별의 별인간 다 있는듯"}
 {:nick "LG김주성62",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052076594&m=view",
  :title "이게 ㄹㅇ 정수근 레전드 짤인듯.jpg"}
 {:nick "탑데자이언츠",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052079639&m=view",
  :title "김진욱 아버님 인터뷰"}
 {:nick "뚱뚱독수리",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052082138&m=view",
  :title "유장혁건은 좀 이상한데요"}
 {:nick "아르르",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052077512&m=view",
  :title "뭔가 추가분이 올라왔는데"}
 {:nick "trust28",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052087544&m=view",
  :title "야탑고 야구부 자살사건"}
 {:nick "이봉원",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052078559&m=view",
  :title "\"쓰레기 청소함에 갇혔다\" 야구도 학폭 미투? 지방팀 유망주, 학폭 가해자로 지목"}
 {:nick "구세주",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052091753&m=view",
  :title "김성근 감독님 일본 우승팀에서 대단한 예우를 받고 있네요."}
 {:nick "2021V3LG",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052075685&m=view",
  :title "유장혁 임탈이나 징계 강하게 해야죠"}
 {:nick "온리베이스볼",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052096322&m=view",
  :title "파이어났네요... ㅎㅎ"}
 {:nick "갓베로",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052088744&m=view",
  :title "[공식발표] 한화 \"학폭 의혹, 현재는 사실 뒷받침할 근거 부족\""}
 {:nick "카트라이더",
  :url "http://mlbpark.donga.com/mp/b.php?b=kbotown&id=202102200052091657&m=view",
  :title "이영하 가능성 있나요??"}]
