[{:nick "청독",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117211325&m=view",
  :title "왠지 엘지 스카우터쪽에서 이런 말도 했을거 같음."}
 {:nick "남규리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117209954&m=view",
  :title "트로이 왓슨 영입경쟁 3파전 : 엥? 대전 문앞이라며?"}
 {:nick "노찌롱가자",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117211241&m=view",
  :title "후라도 부상만 문제가 아니다…'국민유격수'의 메시지 \"원태인-최원태 더 분발해야\""}
 {:nick "엘지좋아",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117213437&m=view",
  :title "\"나도 오스틴, 켈리 같은 선수가 됐으면\" LG 우승 청부사가 돌아본 한국에서의 1년"}
 {:nick "카메하메하",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117207605&m=view",
  :title "아시안게임 금메달 못딸거 같은 이유.txt"}
 {:nick "yaguumpire",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117214181&m=view",
  :title "내일 전구단 선발투수"}
 {:nick "따봉노진혁",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117211559&m=view",
  :title "전 두산용병 맷 랜들 북일고 투수코치 부임"}
 {:nick "백정킬문",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117212303&m=view",
  :title "왜케 왓슨보다 척킹이 땡기죠 ㅋㅋㅋㅋㅋ"}
 {:nick "Arcteryx",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117212843&m=view",
  :title "잠실야구장 좌우펜스 95m 시절"}
 {:nick "엘비비",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117214766&m=view",
  :title "영상 다시봤는데 성주말투가 좀 그렇긴함.jpg"}
 {:nick "한상백",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117214448&m=view",
  :title "김근한) 이미 야구계에선 에르난데스의 7월 첫째 주 등판이 KBO리그 마지막 경기가 될 수 있다는 얘기도 돌았었다."}
 {:nick "쌈장법사",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117215258&m=view",
  :title "문성주 건은 엘튜브랑 그 편집자가 욕먹어야될 사안임"}
 {:nick "epikurean",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117211547&m=view",
  :title "트로이 왓슨은 왜 영입 1순위일까?"}
 {:nick "NO24강봉규",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117212507&m=view",
  :title "삼성 구단 관계자 :\"이미 이종열 삼성 단장은 대체 외국인 투수 영입을 위해 미국으로 향한 상태다.\""}
 {:nick "엘지남",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117212639&m=view",
  :title "이택근 曰 현재 LG는 고점이 전혀 아니다."}
 {:nick "하놔1글스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117207143&m=view",
  :title "빈수레가 요란하다고.."}
 {:nick "LG우마왕",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117207107&m=view",
  :title "진짜 미쳐 돌아가는구만, 신지도 그렇고 박지영도 그렇고 아무것도 아닌걸로 사과까지 하고 야구판이 미쳐가는듯"}
 {:nick "발냄시야가",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117212888&m=view",
  :title "7/15 관전평"}
 {:nick "diablo",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117212657&m=view",
  :title "lg팬서비스 논란"}
 {:nick "미나이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202607150117211898&m=view",
  :title "사사방 cv) 후라도 이야기"}]
