[{:nick "전기충격",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083941728&m=view",
  :title "엘튜브는 소통을 하고싶어서 7월 편 소통 내용 텍스트 정리"}
 {:nick "아기삼총사",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083937039&m=view",
  :title "아쉬움에 눈물흘리는 이주형"}
 {:nick "잠실누나",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083953359&m=view",
  :title "현직 잠실야구장 상황"}
 {:nick "오재일",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083929902&m=view",
  :title "차명석: 이민호 김윤식 각성해야 한다.gisa"}
 {:nick "곤살로문과인",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083944167&m=view",
  :title "이주형 홈팬들에게 인사 + 키움 데뷔타석 안타 ...mp4"}
 {:nick "류횬진",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083930283&m=view",
  :title "최원태보다 위에 있는 국내선발ㅎㄷㄷㄷㄷㄷㄷ"}
 {:nick "No.1챈규",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083931375&m=view",
  :title "최원태가 와서 기쁜 염감"}
 {:nick "67.문성주",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083930088&m=view",
  :title "\"기회가 온다면 MLB식 트레이드 한번 해보고 싶었다\""}
 {:nick "nmater1",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083954760&m=view",
  :title "홈런단독1위 올라가는 노시환"}
 {:nick "갓보영",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083935221&m=view",
  :title "야구부장 : 최원태 다년계약 요청한 적도 없고 선수와 구단이 논의를 한 적도 없다"}
 {:nick "탑키스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083933304&m=view",
  :title "최원태 지금 따봉날렸다는데요?"}
 {:nick "리더탱",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083957745&m=view",
  :title "롯데 버스 사고 났네요.jpg"}
 {:nick "버스터포지",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083936817&m=view",
  :title "주형아 왜 울어 ㅠㅠㅠㅠㅠ"}
 {:nick "Caesar0",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083933502&m=view",
  :title "최원태 부친 인스타"}
 {:nick "hereford88",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083957118&m=view",
  :title "강승호는 소문이 사실이네.."}
 {:nick "잠실LG",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083936625&m=view",
  :title "이주형 엘튜브 마지막 인사"}
 {:nick "Caesar0",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083929920&m=view",
  :title "차 단장 멘트 좋네요"}
 {:nick "앨지트윈스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083960574&m=view",
  :title "??? : 염경엽 대주자 트레이드 ㅋㅋㅋㅋ 코메디네요"}
 {:nick "syghdgww",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083948913&m=view",
  :title "또 시끄러워 지겠네ㅜㅜ"}
 {:nick "엘지포맨",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202307290083928915&m=view",
  :title "가타부타 말할 것 없이 우승한 번 하면 나가서 누가 터지든 알 바 아닌 겁니다"}]
