[{:nick "고척돔",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075675228&m=view",
  :title "[오피셜] LG트윈스 감독 염경엽 선임 twt (3년 총액 21억)"}
 {:nick "사직신축",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075678054&m=view",
  :title "염경엽이 감독이면 볼 수 있는 풍경.jpg"}
 {:nick "추다스",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075670767&m=view",
  :title "솔직히 심판매수 의심이 드네요"}
 {:nick "Chemistry",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075674952&m=view",
  :title "류지현은 그냥 계약 만료된거고 연장을 안해준것 뿐인데"}
 {:nick "No15김진욱",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075670989&m=view",
  :title "두산과 이별한 호미페, LG 공식 SNS 팔로잉 왜?"}
 {:nick "내손에v3",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075680310&m=view",
  :title "또 최고가 아닌 선택"}
 {:nick "2022LG",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075670578&m=view",
  :title "엘지 용타가 자꾸 망하는 이유"}
 {:nick "돡승엽",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075679104&m=view",
  :title "[속보] 나연좌 SSG 언급 ㄷㄷㄷㄷㄷㄷㄷㄷ"}
 {:nick "Apdo",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075676161&m=view",
  :title "류지현 감독님 그리우면 개추 ㅋㅋㅋㅋ"}
 {:nick "릴보이",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075683403&m=view",
  :title "이씨.발새.끼들아"}
 {:nick "송재선",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075670548&m=view",
  :title "오늘 경기 히어로캠(덕아웃) 업로드.avi"}
 {:nick "두산이승엽",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075686001&m=view",
  :title "서건창 꼽주는 염경엽.jpg"}
 {:nick "날려버려라",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075671844&m=view",
  :title "구단 유튜브 감동이 있네요"}
 {:nick "야경",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075675459&m=view",
  :title "사실상 이 썰이 그대로 맞아버렸음"}
 {:nick "김장김치",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075676965&m=view",
  :title "항상 말하지만 이팀 최고문제는 구단주라니까요 진짜로"}
 {:nick "돡승엽",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075675828&m=view",
  :title "'LG 우승 청부사' 염경엽 신임 감독, \"LG 감독 영광...책임감 있는 감독 되겠다"}
 {:nick "레몬트리",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075673425&m=view",
  :title "류지현은 우승 못해서 재계약 못한게 아니죠"}
 {:nick "오재일",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075677133&m=view",
  :title "윤세호 피셜) 라뱅외에 추가 코치 유출 있음.gisa"}
 {:nick "nciekd",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075671373&m=view",
  :title "자동 로그인 가능하게 해달라고 건의했는데 추천좀 눌러주세요."}
 {:nick "오재일",
  :url "https://mlbpark.donga.com/mp/b.php?b=kbotown&id=202211060075680739&m=view",
  :title "염경엽 LG 신임 감독 “구단의 첫 마디가 ‘우승’이었다“[일문 일답]"}]
